<div class="box ui-widget-content" style="float: left;">

	<div class="header">Добавление картинки</div>

	<div class="content">
		<form name="addImage" id="addImage" action="admin.php" method="post" enctype="multipart/form-data">

			<div class="hidden">
				<input type="hidden" name="mod" value="content" />
				<input type="hidden" name="section" value="{$sectionId}" />
				{if arg('pg')}<input type="hidden" name="pg" value="{arg('pg')}" />{/if}
				<input type="hidden" name="action" value="insert" />
			</div>

			<div class="input-pair">
				<label>Файл изображения:</label><br />
				<input type="file" name="image" id="gallery-image-input" />
				<div class="ui-minor">Формат JPEG, PNG или GIF. Размер файла не более {ini_get('upload_max_filesize')}</div>
			</div>

			<div class="input-pair">
				<label>Название:</label><br />
				<input type="text" name="title" id="gallery-caption-input" value="" maxlength="255" style="width: 99%" />
			</div>

			{if $this->settings.useGroups}
			<div class="input-pair">
				<label>Группа:</label><br />
				<select name="group">
					{foreach $groups group}
					<option value="{$group.id}"{if $group.id == $defaultGroup} selected="selected"{/if}>{$group.title}</option>
					{/foreach}
				</select>
			</div>
			{/if}

			<div class="input-pair">
				<label>
					<input type="checkbox" name="cover" value="1" />
					Сделать обложкой альбома
				</label>
			</div>

			<div class="input-pair">
				<label>
					<input type="checkbox" name="active" value="1" checked="checked" />
					Показывать это изображение посетителям
				</label>
			</div>

			<div class="ui-button-box">
				<br />
				<button type="submit" >Добавить</button>
				<button type="button" class="cancel" onclick="history.back();">Отменить</button>
			</div>

		</form>
	</div>
</div>
