<div class="box ui-widget-content" style="float: left; min-width: 600px; max-width: 900px">

	<div class="header">Настройки модуля "Галерея изображений"</div>
	<div class="content">

		<div id="gallery-settings-tabs">
			<button style="display:none">Основные настройки</button>
			<button>Настройки шаблонов</button>
		</div>

		<form name="settings" id="settings" action="admin.php?mod=plgmgr&id={$this->name}" method="post" enctype="multipart/form-data">

			<div class="hidden">
				<input type="hidden" name="update" value="{$this->name}" />
				<input type="hidden" name="submitURL" value="admin.php?mod=plgmgr" />
			</div>

			<table width="100%" id="gallery-settings-main">
				<tr><th colspan="2">Свойства изображений</th></tr>
				<tr>
					<td class="formLabel">Ширина</td>
					<td>
						<input type="text" name="imageWidth" value="{$this->settings.imageWidth}" maxlength="3" size="3" />
						точек
					</td>
				</tr>
				<tr>
					<td class="formLabel">Высота</td>
					<td>
						<input type="text" name="imageHeight" value="{$this->settings.imageHeight}" maxlength="3" size="3" />
						точек
					</td>
				</tr>

				<tr><th colspan="2">Свойства миниатюр</th></tr>
				<tr>
					<td class="formLabel">Ширина</td>
					<td>
						<input type="text" name="thumbWidth" value="{$this->settings.thumbWidth}" maxlength="3" size="3" />
						точек
					</td>
				</tr>
				<tr>
					<td class="formLabel">Высота</td>
					<td>
						<input type="text" name="thumbHeight" value="{$this->settings.thumbHeight}" maxlength="3" size="3" />
						точек
					</td>
				</tr>

				<tr><th colspan="2">Список изображений</th></tr>
				<tr>
					<td class="formLabel">Сортировка</td>
					<td>
						<label>
							<input type="radio" name="sort" value="date_asc"{if $this->settings.sort == "date_asc"} checked="checked"{/if}>
							По дате (новые в начале)
						</label><br />
						<label>
							<input type="radio" name="sort" value="date_desc"{if $this->settings.sort == "date_desc"} checked="checked"{/if}>
							По дате (старые в начале)
						</label><br />
						<label>
							<input type="radio" name="sort" value="manual"{if $this->settings.sort == "manual"} checked="checked"{/if}>
							Ручная
						</label><br />
					</td>
				</tr>
				<tr>
					<td>
						<input type="hidden" name="useGroups" value="" />
					</td>
					<td>
						<label>
							<input type="checkbox" name="useGroups" id="gallery-useGroups-input" value="1"{if $this->settings.useGroups} checked="checked"{/if} />
							Включить группы изображений
						</label>
					</td>
				</tr>
				<tr>
					<td class="formLabel">Изображений на страницу</td>
					<td>
						<input type="text" name="itemsPerPage" id="gallery-itemsPerPage-input"
							value="{$this->settings.itemsPerPage}" maxlength="3" size="3"{if $this->settings.useGroups} disabled="disabled"{/if} />
						<span class="minor">(только если группы отключенны)</span>
					</td>
				</tr>
				<tr>
					<td class="formLabel">Групп на страницу</td>
					<td>
						<input type="text" name="groupsPerPage" id="gallery-groupsPerPage-input"
							value="{$this->settings.groupsPerPage}" maxlength="3" size="3"{if !$this->settings.useGroups} disabled="disabled"{/if} />
						<span class="minor">(только если группы включенны)</span>
					</td>
				</tr>

				<tr><th colspan="2">Показ отдельного изображения</th></tr>
				<tr>
					<td class="formLabel">Показывать изображение</td>
					<td>
						<label>
							<input type="radio" name="showItemMode" value="normal"{if $this->settings.showItemMode == "normal"} checked="checked"{/if}>
							на отдельной странице
						</label><br />
						<label>
							<input type="radio" name="showItemMode" value="popup"{if $this->settings.showItemMode == "popup"} checked="checked"{/if}>
							во всплывающем блоке
						</label><br />
					</td>
				</tr>

				<tr><th colspan="2" class="formHeader">Логотип</th></tr>
				<tr>
					<td><input type="hidden" name="logoEnable" value="" /></td>
					<td>
						<label>
							<input type="checkbox" name="logoEnable" id="gallery-logoEnable-input" value="1"{if $this->settings.logoEnable} checked="checked"{/if} />
							Накладывать логотип
						</label>
					</td>
				</tr>
				<tr class="gallery-logoEnable-related">
					<td class="formLabel">Положение</td>
					<td>
						<select name="logoPosition"{if !$this->settings.logoEnable} disabled="disabled"{/if} >
							<option value="TL"{if $this->settings.logoPosition} selected="selected"{/if}>Верхний левый угол</option>
							<option value="TR"{if $this->settings.logoPosition} selected="selected"{/if}>Верхний правый угол</option>
							<option value="BL"{if $this->settings.logoPosition} selected="selected"{/if}>Нижний левый угол</option>
							<option value="BR"{if $this->settings.logoPosition} selected="selected"{/if}>Нижний правый угол</option>
						</select>
					</td>
				</tr>
				<tr class="gallery-logoEnable-related">
					<td class="formLabel"></td>
					<td>
						<input type="file" name="logoImage"{if !$this->settings.logoEnable} disabled="disabled"{/if} />
						<div><small class="minor">Логотип должен быть в формате PNG 24</small></div>
						{if $logo_exists}<br/><img src="{$this->getDataURL()}logo.png" alt="Логотип" />{/if}
					</td>
				</tr>
				<tr class="gallery-logoEnable-related">
					<td class="formLabel">Отступ</td>
					<td>
						<input type="text" name="logoVPadding" value="{$this->settings.logoVPadding}" maxlength="4" size="4"{if !$this->settings.logoEnable} disabled="disabled"{/if} />
						точек по вертикали
					</td>
				</tr>
				<tr class="gallery-logoEnable-related">
					<td class="formLabel">Отступ</td>
					<td>
						<input type="text" name="logoHPadding" value="{$this->settings.logoHPadding}" maxlength="4" size="4"{if !$this->settings.logoEnable} disabled="disabled"{/if} />
						точек по горизонтали
					</td>
				</tr>
			</table>

			<table width="100%" id="gallery-settings-templates">
				<tr>
					<td>
						<a href="http://wiki.dwoo.org/index.php/Главная_страница">Синтаксис шаблонов</a>
					</td>
				</tr>
				<tr>
					<td>
						<span class="formLabel">Списк изображений (без групп)</span><br />
						<textarea name="tmplImageList" cols="50" rows="10" style="width: 100%">{$this->settings.tmplImageList|escape}</textarea>
						<div class="gallery-tmpl-hint">
							<a href="#" class="pseudo toggle" rel="hint">Показать переменные, доступные в шаблоне</a><br />
							<div class="content">
								<dl>
									<dt>$page->title</dt>
										<dd>Заголовок страницы (альбома)</dd>
									<dt>$page->created</dt>
										<dd>Дата и время создания страницы (альбома)</dd>
									<dt>$page->content</dt>
										<dd>Текст страницы (альбома)</dd>
									<dt>$cover</dt>
										<dd>Обложка альбома</dd>
									<dt>$cover->caption</dt>
										<dd>Название обложки альбома</dd>
									<dt>$cover->thumbURL</dt>
										<dd>URL миниатюры обложки альбома</dd>
									<dt>$pager</dt>
										<dd>Переключатель страниц</dd>
									<dt>$images</dt>
										<dd>Список (массив) изображений в альбоме. Используйте \{foreach $images image}...\{/foreach} для вывода всех изображений альбома</dd>
									<dt>$image->title</dt>
										<dd>Название изображения</dd>
									<dt>$image->posted</dt>
										<dd>Дата и время добавления изображения</dd>
									<dt>$image->thumbURL</dt>
										<dd>URL миниатюры</dd>
									<dt>$image->showURL</dt>
										<dd>URL просмотра полного изображения или открытия всплывающего блока</dd>
								</dl>
							</div>
						</div>
					</td>
				</tr>

				<tr>
					<td>
						<span class="formLabel">Списк изображений (с группами)</span><br />
						<textarea name="tmplImageGroupedList" cols="50" rows="10" style="width: 100%">{$this->settings.tmplImageGroupedList|escape}</textarea>
						<div class="gallery-tmpl-hint">
							<a href="#" class="pseudo toggle" rel="hint">Показать переменные, доступные в шаблоне</a><br />
							<div class="content">
								<dl>
									<dt>$page->title</dt>
										<dd>Заголовок страницы (альбома)</dd>
									<dt>$page->created</dt>
										<dd>Дата и время создания страницы (альбома)</dd>
									<dt>$page->content</dt>
										<dd>Текст страницы (альбома)</dd>
									<dt>$cover</dt>
										<dd>Обложка альбома</dd>
									<dt>$cover->caption</dt>
										<dd>Название обложки альбома</dd>
									<dt>$cover->thumbURL</dt>
										<dd>URL миниатюры обложки альбома</dd>
									<dt>$pager</dt>
										<dd>Переключатель страниц</dd>
									<dt>$groups</dt>
										<dd>Список (массив) групп. Используйте \{foreach $groups group}...\{/foreach} для вывода всех групп</dd>
									<dt>$group.title</dt>
										<dd>Название группы</dd>
									<dt>$group.description</dt>
										<dd>Описание группы</dd>
									<dt>$group.images</dt>
										<dd>Список (массив) изображений в группе. Используйте \{foreach $group.images image}...\{/foreach} для вывода всех изображений группы</dd>
									<dt>$image->title</dt>
										<dd>Название изображения</dd>
									<dt>$image->posted</dt>
										<dd>Дата и время добавления изображения</dd>
									<dt>$image->thumbURL</dt>
										<dd>URL миниатюры</dd>
									<dt>$image->showURL</dt>
										<dd>URL просмотра полного изображения или открытия всплывающего блока</dd>
								</dl>
							</div>
						</div>
					</td>
				</tr>

				<tr>
					<td>
						<span class="formLabel">Просмотр одного изображения</span><br />
						<textarea name="tmplImage" cols="50" rows="10" style="width: 100%" >{$this->settings.tmplImage|escape}</textarea>
						<div class="gallery-tmpl-hint">
							<a href="#" class="pseudo toggle" rel="hint">Показать переменные, доступные в шаблоне</a><br />
							<div class="content">
								<dl>
									<dt>$page->title</dt>
										<dd>Заголовок страницы (альбома)</dd>
									<dt>$page->created</dt>
										<dd>Дата и время создания страницы (альбома)</dd>
									<dt>$page->content</dt>
										<dd>Текст страницы (альбома)</dd>
									<dt>$this->clientListURL()</dt>
										<dd>URL текущей странице списка изображений</dd>
									<dt>$image->id</dt>
										<dd>Идентификатор изображения</dd>
									<dt>$image->title</dt>
										<dd>Название изображения</dd>
									<dt>$image->posted</dt>
										<dd>Дата и время добавления изображения</dd>
									<dt>$image->thumbURL</dt>
										<dd>URL миниатюры</dd>
									<dt>$image->imageURL</dt>
										<dd>URL полного изображения</dd>
									<dt>$image->prevSibling</dt>
										<dd>Предыдущее изображение в списке. Доступны те же свойства: title, thumbURL, showURL и т.д.</dd>
									<dt>$image->nextSibling</dt>
										<dd>Следующее изображение в списке. Доступны те же свойства: title, thumbURL, showURL и т.д.</dd>
									<dt>$images</dt>
										<dd>Список (массив) изображений в альбоме. Используйте \{foreach $images item}...\{/foreach} для вывода всех изображений альбома</dd>
								</dl>
							</div>
						</div>
					</td>
				</tr>
			</table>

			<div class="ui-button-box">
				<br />
				<button type="submit" onclick="formApplyClick('settings')">Сохранить</button>
				<button type="button" class="cancel" onclick="history.back();">Отменить</button>
			</div>

		</form>
	</div>
</div>

<script type="text/javascript"><!--//--><![CDATA[//><!--
	jQuery(document).ready(function ()
	{
		jQuery("#gallery-settings-tabs button").eq(1).click(function()
		{
			jQuery(this).hide();
			jQuery("#gallery-settings-main").hide();
			jQuery("#gallery-settings-tabs button").eq(0).show();
			jQuery("#gallery-settings-templates").show();
		});

		jQuery("#gallery-settings-tabs button").eq(0).click(function()
		{
			jQuery(this).hide();
			jQuery("#gallery-settings-templates").hide();
			jQuery("#gallery-settings-tabs button").eq(1).show();
			jQuery("#gallery-settings-main").show();
		});

		jQuery("#gallery-useGroups-input").click(function ()
		{
			var images = jQuery("#gallery-itemsPerPage-input");
			var groups = jQuery("#gallery-groupsPerPage-input");

			if (jQuery(this).get(0).checked)
			{
				images.attr("disabled", "disabled");
				groups.removeAttr("disabled");
			}
			else
			{
				groups.attr("disabled", "disabled");
				images.removeAttr("disabled");
			}
		});

		jQuery("#gallery-logoEnable-input").click(function ()
		{
			var inputs = jQuery("#gallery-settings-main .gallery-logoEnable-related :input");
			if ($(this).get(0).checked)
			{
				inputs.removeAttr('disabled');
			}
			else
			{
				inputs.attr('disabled', 'disabled');
			}
		});
		
		jQuery("#gallery-settings-templates div.gallery-tmpl-hint").click(function (e)
		{
			jQuery(e.target).parent().children("div.content").toggle();
			return false;
		});

	});
//--><!]]></script>